<h1><%= @appointment.appointment_datetime %></h1>
<ul>
    <%= link_to @appointment.doctor, doctor_path(@appointment.doctor) %>
    <%= link_to @appointment.patient, patient_path(@appointment.patient) %>
</ul>